/* Default styles */

body {
  /* is there a beter way to make the background faded out? */
  /* image from https://unsplash.com/@dmey503 */
  background-image: linear-gradient(#ffffff63, #ffffffc5),
    url("../img/FarmBackground.jpg");
  font-family: "Chilanka", cursive;
}

h1 {
  font-family: "Homemade Apple", cursive;
}
h2,
h3,
h4 {
  color: #000;
  text-decoration: underline;
}

p {
  font-size: 18px;
  font-weight: 700;
}

/* links */
a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  outline: none;
  transition-property: background-image;
  transition-duration: 1s;
}

a:visited {
  color: #000;
}

/* ----- Nav bar styles ----- */
.topNav {
  display: none;
}

.mobileNav {
  display: block;
  background-image: linear-gradient(#ffffff93, #ffffff93),
    url("../img/3moonscolour.webp");
  background-position: center;
  background-size: 1500px 1000px;
  height: 150px;
}

.fa-bars {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* end of nav bar styles */

.largeH1 {
  display: none;
}

.smallH1 {
  display: flex;
  justify-content: center;
}

main {
  margin: 20px;
}

section {
  background-color: #97d6e56e;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

section p {
  justify-content: left;
}

aside {
  padding: 0 5px;
}

/* images */

img {
  max-width: 100%;
}

/* ----- break points ----- */

@media (min-width: 660px) {
  section {
    flex-direction: row;
  }

  section:nth-child(2) {
    flex-direction: row-reverse;
  }

  aside {
    width: 50%;
  }

  .largeH1 {
    display: flex;
    justify-content: center;
  }

  /* Nav styles */
  .mobileNav {
    display: none;
  }

  .topNav {
    display: block;
  }
  .topNav a:hover {
    background-image: linear-gradient(#ffffff73, #ffffff73),
      url("../img/3moonscolour.webp");
    background-size: 300px 200px;
    background-position: 210px 130px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .topNav a {
    padding: 0 5px;
    margin: 0 5px;
    color: #000;
    text-decoration: none;
    font-size: 30px;
  }

  .logo {
    width: 200px;
  }
}
